.footer.row-fluid

  %p.pull-right.hidden-phone= link_to "Web Master", "mailto:cfavreau@mvesolutions.com?subject=website"

  %p.pull-left
    = image_tag("solutions.logo.gif", :style => "width: 35px; vertical-align: middle; margin-right: 5px;", :alt => "MVE Solutions Stylized Acorn Logo")
    = link_to "MVE Solutions Inc.", "http://mvesolutions.com"
    &copy; 2013-2014

