= simple_form_for(@<%= singular_table_name %>) do |f|
  = render partial: 'shared/errors', locals: {f: f}

  .form-inputs
  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
  <%- end -%>

  .form-actions.control-group
    = f.button :submit, :class => 'btn btn-primary'
