%p#notice= notice

<% attributes.each do |attribute| -%>
%p
  %strong <%= attribute.human_name %>
  = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

= render :partial => 'shared/show_links', :locals => {:back_path => <%= plural_table_name %>_path }